<section>
  <div class="cta">
      <div class="cta-img">
        <img src="assets/images/webp/footer-photo.webp" alt="">
      </div>
      <!-- /.cta-img -->
      <div class="cta-text">
        <h3 class="h3">Пора в путешествие вместе с нами!</h3>
        <p class="p-normal">Напиши на почту и узнай подробности на <a href="mailto:yourtour@gmail.com" target="_blank">yourtour@gmail.com</a></p>
      </div>
      <!-- /.cta-text -->
    </div>
</section>