<section class="photo-tour">
    <div class="caption">
      <div class="section-title h2">
        <h2>Фотографии путешествий</h2>
      </div>
      <div class="section-subtitle p-normal">
        <p>Идейные соображения высшего порядка, а также рамки и место обучения кадров</p>
      </div>
    </div>
    <div class="photo-tour__img">
      <div class="photo-tour__img-big">
        <img src="assets/images/webp/travel-photo-1.webp" alt="">
        <img src="assets/images/webp/travel-photo-2.webp" alt="">
        <img src="assets/images/webp/travel-photo-3.webp" alt="">
        <img src="assets/images/webp/travel-photo-4.webp" alt="">
      </div>
      <div class="photo-tour__img-small">
        <img src="assets/images/webp/travel-photo-5.webp" alt="">
        <img src="assets/images/webp/travel-photo-6.webp" alt="">
        <img src="assets/images/webp/travel-photo-7.webp" alt="">
        <img src="assets/images/webp/travel-photo-8.webp" alt="">
        <img src="assets/images/webp/travel-photo-9.webp" alt="">
      </div>
      <div class="photo-tour__img-big">
        <img src="assets/images/webp/travel-photo-10.webp" alt="">
        <img src="assets/images/webp/travel-photo-11.webp" alt="">
        <img src="assets/images/webp/travel-photo-12.webp" alt="">
        <img src="assets/images/webp/travel-photo-13.webp" alt="">
      </div>
    </div>
  </section>