<section class="preview text-white">
  <div class="preview-main container">
    <h1 class="preview-main__title h1">Идеальные путешествия существуют</h1>
    <p class="preview-main__subtitle p-normal">Идейные соображения высшего порядка, а также рамки и место обучения кадров</p>
    <button class="preview-main__button p-small">Найти тур</button>
  </div>
</section>