<section class="choose-tour" id="choose">
  <div class="choose-tour__container container">
    <div class="choose-tour__container-topside">
      <div class="section-title__choose h2">
        <h2>Выбери свой тур</h2>
      </div>
      <!-- /.section-title -->
      <div class="choose-tour__menu">
        <ul class="choose-tour__menu-items">
          <li><a class=" choose-tour__menu-item choose-tour__menu-item_active p-big" href="#non">Популярные</a></li>
          <li><a class="choose-tour__menu-item p-big" href="#non">Авторские</a></li>
          <li><a class="choose-tour__menu-item p-big" href="#non">Походы</a></li>
          <li><a class="choose-tour__menu-item p-big" href="#non">Сплавы</a></li>
          <li><a class="choose-tour__menu-item p-big" href="#non">Велопрогулки</a></li>
        </ul>
      </div>
      <!-- /.section-subtitle -->
    </div>
    <!-- /.choose-tour__container-topside-->
    <div class="choose-tour__cards text-white">
      {{> choose-card image="assets/images/card-tour-photo-1.jpg" }}
      {{> choose-card image="assets/images/card-tour-photo-2.jpg" }}
      {{> choose-card image="assets/images/card-tour-photo-3.jpg" }}
      {{> choose-card image="assets/images/card-tour-photo-4.jpg" }}
      {{> choose-card image="assets/images/card-tour-photo-5.jpg" }}
      {{> choose-card image="assets/images/card-tour-photo-6.jpg" }}
    </div>
    <!-- /.choose-tour__cards -->
  </div>
  <!-- /.container -->
</section>