<!DOCTYPE html>
<html lang="en">

  <head>

    <title>YourTour</title>
    
    {{> partials/head-info/favicon }}
    {{> partials/head-info/fonts }}
    {{> partials/head-info/meta }}
  </head>

  <body>
    {{> partials/header }}
    {{> partials/sections/preview }}
    {{> partials/sections/choose-tour/index }}
    {{> partials/sections/build-tour }}
    {{> partials/sections/reviews }}
    {{> partials/sections/photo-tour }}
    {{> partials/sections/stories }}
    {{> partials/sections/cta }}
    {{> partials/footer }}
  </body>

</html>