<div class="footer">
  <div class="footer-container container">
    <p class="p-normal">Наши социальные сети</p>
    <ul>
      <li><a href="#non" class="footer_instagram p-normal">instagram</a></li>
      <li><a href="#non" class="footer_facebook p-normal">facebook</a></li>
      <li><a href="#non" class="footer_vkontakte p-normal">vkontakte</a></li>
    </ul>
  </div>
  <!-- /.footer-container -->
</div>
<!-- /.footer -->