<header class="text-white header-container" id="header">
  <div class="header container p-normal">
    <div class="header-logo">
      <img src="assets/images/logo.svg" alt="">
    </div>
    <!-- /.header-logo -->
    <nav class="header-nav">
      <ul>
        <li><a href="#choose ">Туры</a></li>
        <li><a href="#build-tour">Создать тур</a></li>
        <li><a href="#reviews">Отзывы</a></li>
        <li><a href="#stories">Истории</a></li>
      </ul>
    </nav>
    <!-- /.header-nav -->
    <div class="header-phone">
      <p><a href="tel:+79999999999">+7 999 999 99 99</a></p>
    </div>
    <!-- /.header-phone -->
  </div>
</header>