<section class="photo-tour">
    <div class="caption">
      <div class="section-title h2">
        <h2>Фотографии путешествий</h2>
      </div>
      <div class="section-subtitle p-normal">
        <p>Идейные соображения высшего порядка, а также рамки и место обучения кадров</p>
      </div>
    </div>
    <div class="photo-tour__img">
      <div class="photo-tour__img-big">
        <img src="/assets/images/travel-photo-1.jpg" alt="">
        <img src="/assets/images/travel-photo-2.jpg" alt="">
        <img src="/assets/images/travel-photo-3.jpg" alt="">
        <img src="/assets/images/travel-photo-4.jpg" alt="">
      </div>
      <div class="photo-tour__img-small">
        <img src="/assets/images/travel-photo-5.jpg" alt="">
        <img src="/assets/images/travel-photo-6.jpg" alt="">
        <img src="/assets/images/travel-photo-7.jpg" alt="">
        <img src="/assets/images/travel-photo-8.jpg" alt="">
        <img src="/assets/images/travel-photo-9.jpg" alt="">
      </div>
      <div class="photo-tour__img-big">
        <img src="/assets/images/travel-photo-10.jpg" alt="">
        <img src="/assets/images/travel-photo-11.jpg" alt="">
        <img src="/assets/images/travel-photo-12.jpg" alt="">
        <img src="/assets/images/travel-photo-13.jpg" alt="">
      </div>
    </div>
  </section>