<section class="stories">
    <div class="stories__container container">
      <div class="caption">
        <div class="section-title h2">
          <h2>Истории путешествий</h2>
        </div>
        <div class="section-subtitle p-normal">
          <p>Идейные соображения высшего порядка, а также рамки и место обучения кадров</p>
        </div>
      </div>
      <div class="stories-card">
        <div class="stories-card__text-top">
          <h3 class="h3">Автостопом в Стамбул</h3>
          <p class="p-normal">Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений:
            <ul>
              <li>вкусная еда</li>
              <li>дешевый транспорт</li>
              <li>красивый город.</li>
            </ul>
          </p>
        </div>
        <!-- /.stories-card__text-top -->
        <div class="stories-card__text-bottom">
          <div class="stories-card__button">
            <button>
              <p>Подробнее</p>
              <img src="assets/images/right-arrow.svg" alt="">
          </div>
          <div class="stories-card__social">
            <a href="https://www.instagram.com/" target="_blank">instagram</a>
            <a href="https://www.facebook.com/" target="_blank">facebook</a>
            <a href="https://www.youtube.com/" target="_blank">YouTube</a>
          </div>
          <!-- /.stories-card__social -->
        </div>
      </div>
      <div class="stories-card">
        <div class="stories-card__text-top">
          <h3 class="h3">Автостопом в Стамбул</h3>
          <p class="p-normal">Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений.
          </p>
        </div>
        <!-- /.stories-card__text-top -->
        <div class="stories-card__text-bottom">
          <div class="stories-card__button">
            <button>
              <p>Подробнее</p>
              <img src="assets/images/right-arrow.svg" alt="">
          </div>
          <div class="stories-card__social">
            <a href="https://www.instagram.com/" target="_blank">instagram</a>
            <a href="https://www.vk.com/" target="_blank">Вконтакте</a>
          </div>
          <!-- /.stories-card__social -->
        </div>
      </div>
      <div class="stories-card">
        <div class="stories-card__text-top">
          <h3 class="h3">Автостопом в Стамбул</h3>
          <p class="p-normal">Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений.
          </p>
        </div>
        <!-- /.stories-card__text-top -->
        <div class="stories-card__text-bottom">
          <div class="stories-card__button">
            <button>
              <p>Подробнее</p>
              <img src="assets/images/right-arrow.svg" alt="">
          </div>
          <div class="stories-card__social">
            <a href="https://www.instagram.com/" target="_blank">instagram</a>
            <a href="https://www.facebook.com/" target="_blank">facebook</a>
            <a href="https://www.vk.com/" target="_blank">Вконтакте</a>
          </div>
          <!-- /.stories-card__social -->
        </div>
      </div>
    </div>
  </section>